{% extends "ScrumBoardItBundle::base.html.twig" %}

{% block body %}
    <div class="text-center">
        {{ form_start(form) }}
            {{ form_row(form.api) }}
            <button class="btn btn-def" type="submit" value="Connexion">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}