.board-list-container {
    display: flex;
    flex: 1;
    align-self: stretch;
}

.board-list-container .left-panel {
    display: flex;
    flex: 1;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.12) 6px 0 3px -3px;
}

.board-list-container .right-panel {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.board-list-container .right-panel .preview {
    padding-bottom: 12mm;
}

@media screen {
    .board-list-container .right-panel .preview {
        overflow-y: auto;
    }
}