.provider-config {
    width: 50%;
    padding: 1em;
    align-self: center;
    justify-self: center;
}

.provider-config h2 {
    margin: 0.6em 0;
}

.provider-config form {
    display: flex;
    flex-direction: column;
}

.provider-config .submit {
    margin-top: 1em;
    align-self: flex-end;
}