{
  "swagger": "2.0",
  "info": {
    "description": "ScrumBoard-it API",
    "version": "0.1.0",
    "title": "ScrumBoard-it",
    "termsOfService": "https://scrumboard-it.org/terms/",
    "contact": {
      "email": "team@scrumboard-it.org"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.scrumboard-it.org",
  "basePath": "",
  "tags": [
    {
      "name": "board",
      "description": "Agile boards",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://scrumboard-it.org"
      }
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/boards": {
      "get": {
        "tags": [
          "board"
        ],
        "summary": "List all accessible boards",
        "operationId": "getBoards",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "required": [
                "provider",
                "boards"
              ],
              "properties": {
                "provider": {
                  "$ref": "#/definitions/Provider"
                },
                "boards": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Board"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/boards/{boardId}": {
      "get": {
        "tags": [
          "board"
        ],
        "summary": "Find board by ID",
        "operationId": "getBoardById",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "ID of the board to return",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "required": [
                "provider",
                "board"
              ],
              "properties": {
                "provider": {
                  "$ref": "#/definitions/Provider"
                },
                "board": {
                  "$ref": "#/definitions/Board"
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/boards/{boardId}/tasks": {
      "get": {
        "tags": [
          "board"
        ],
        "summary": "List all tasks of a board",
        "operationId": "getTasksByBoardId",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "ID of the board's tasks",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "required": [
                "provider",
                "tasks"
              ],
              "properties": {
                "provider": {
                  "$ref": "#/definitions/Provider"
                },
                "tasks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Task"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      }
    },
    "/oauth/{provider}/config": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "Authentication public config",
        "operationId": "getAuthorizationConfig",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Name of the provider",
            "required": true,
            "type": "string",
            "enum": ["github"]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "required": [
                "client_id"
              ],
              "properties": {
                "client_id": {
                  "type": "string",
                  "example": "6f6efdfd73f205503f35"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/{provider}/token": {
      "get": {
        "tags": [
          "oauth"
        ],
        "summary": "Authentication token bridge",
        "operationId": "getAuthorizationToken",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Name of the provider",
            "required": true,
            "type": "string",
            "enum": ["github"]
          },
          {
            "name": "code",
            "in": "query",
            "description": "Temporary code returned by the provider",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "required": [
                "token",
                "type"
              ],
              "properties": {
                "token": {
                  "type": "string",
                  "example": "c8e83273bb3b436a70b8e6e70160ec08c8e83273"
                },
                "type": {
                  "type": "string",
                  "example": "bearer"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "schema": {
              "type": "object",
              "required": [
                "provider",
                "error"
              ],
              "properties": {
                "provider": {
                  "$ref": "#/definitions/Provider"
                },
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Board": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": "MDc6UHJvamVjdDIOTk4NA=="
        },
        "name": {
          "type": "string",
          "example": "Admin panel"
        }
      }
    },
    "Task": {
      "type": "object",
      "required": [
        "id",
        "description"
      ],
      "properties": {
        "id": {
          "type": "string",
          "example": "MDExOlByb2plY3RDYXJkNzA0MTg9"
        },
        "key": {
          "type": "string",
          "example": "TASK-212"
        },
        "value": {
          "type": "integer",
          "example": "1200"
        },
        "estimation": {
          "type": "integer",
          "example": "13"
        },
        "roi": {
          "type": "number",
          "format": "double",
          "description": "Return On Investment",
          "example": "92,31"
        },
        "title": {
          "type": "string",
          "example": "Title of the task"
        },
        "description": {
          "type": "string",
          "example": "Task description in details. Could be very very very very very long"
        }
      }
    },
    "Provider": {
      "type": "string",
      "enum": [
        "scrumboard-it",
        "github"
      ]
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}