<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Post-it Manager{% endblock %}</title>
        <!-- Bootstrap -->
        {% stylesheets
            '@CanalTPPostitBundle/Resources/public/css/bootstrap.min.css'
            '@CanalTPPostitBundle/Resources/public/css/style.css'
            '@CanalTPPostitBundle/Resources/public/css/jquery.contextMenu.css'
        filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		{% block stylesheets %}{% endblock %}
    </head>
    <body>
		{% block body %}{% endblock %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        {% javascripts
            '@CanalTPPostitBundle/Resources/public/js/bootstrap.min.js'
            '@CanalTPPostitBundle/Resources/public/js/jquery.contextMenu.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
		{% block javascripts %}{% endblock %}
    </body>
</html>