{% extends 'ScrumBoardItBundle::Print/Task/template_default.html.twig' %}

{% block content %}
    {{ parent()}}
    <table>
        <tr>
            <th></th><td>QA</td><td>PO</td>
        </tr>
        <tr>
            <td>D</td>
            <td>I</td>
            <td>C</td>
            <td>P</td>
        </tr>
    </table>
{% endblock %}