{% extends 'ScrumBoardItBundle::Print/Task/template_default.html.twig' %}

{% block content %}
    <div class="with-bottom">
        {{ parent() }}
    </div>
    {% if issue.returnOnInvestment %}
    <div class="bottom">
        ROI: {{ issue.returnOnInvestment }}
    </div>
    {% endif %}
{% endblock %}