{% extends 'ScrumBoardItBundle::Print/Task/template_default.html.twig' %}

{% block content %}
    <div class="content">
        <div class="summary">{{ issue.title }}</div>
        <div class="description">{{ issue.story }}</div>
    </div>
{% endblock %}