{% extends "CanalTPScrumBoardItBundle::base.html.twig" %}
{% block body %}
{% if error %}
<div>{{ error.messageKey|trans(error.messageData) }}</div>
{% endif %}
<div class="container">
    <div class="row ">
        <div class="Absolute-Center is-Responsive">
            <div id="formJira">
                <p class="titre">ScrumBoard-it</p>
                <hr class="soften">
                <form action="{{ path('login_check') }}" method="post">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur" required="required" />
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input class="form-control" type="password" id="password" name="_password" required="required"  placeholder="Mot de passe"/>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me"  />
                        <label for="remember_me">Se souvenir de moi</label>
                        <button  class="btn btn-def btn-block" type="submit" value="Connexion">login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    {% endblock%}