{% extends 'ScrumBoardItBundle::Print/Task/template_default.html.twig' %}

{% block complexity %}{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="bottom">
        <div class="right">
            {% if issue.complexity %}
                {{ issue.complexity }}
            {% elseif issue.timeBox %}
                {{ issue.timeBox / 3600 }} h
            {% endif %}
        </div>
    </div>
{% endblock %}