{% extends 'ScrumBoardItBundle::Print/Task/template_default.html.twig' %}

{% block complexity '' %}

{% block content %}
    <div class="with-bottom">
        {{ parent() }}
    </div>
    <div class="bottom">
        <div class="right">
            {% if issue.complexity %}
                {{ issue.complexity }}
            {% elseif issue.timeBox %}
                {{ issue.timeBox }}
            {% endif %}
        </div>
    </div>
{% endblock %}