<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Post-it Manager - ScrumBoard-it{% endblock %}</title>
{% stylesheets 'bundles/scrumboardit/css/print.css' filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</head>
<body>
	<div class="container">
		{% for issue in issues %}
            {% set i = (loop.index0 % 6) + 1 %}

            {% set type = issue.type|capitalize %}
			{% if issue.userStory %}
                {% set type = 'Userstory' %}
                {% set selectTemplate = templates['user_story'].config.options['label'] %}
            {% elseif issue.proofOfConcept %}
                {% set type = 'Poc' %}
                {% set selectTemplate = templates['poc'].config.options['label'] %}
            {% elseif issue.type == 'subtask' %}
                {% set type = 'Subtask' %}
                {% set selectTemplate = templates['sub_task'].config.options['label'] %}
            {% else %}
                {% set selectTemplate = 'default' %}
            {% endif %}
            {% include 'ScrumBoardItBundle::Print/' ~type~ '/template_' ~selectTemplate~ '.html.twig' with {'i': i, 'issue': issue, 'type': type|lower} only %}
		{% endfor %}
	</div>
</body>
</html>