@page {
    margin: 0;
}

body.print {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 18pt;
}

.print .post-it table {
    border-collapse: collapse;
    margin-left: 8mm;
    bottom: 3mm;
    position: absolute;
    background-color: inherit;
}

.print .post-it td {
    border: 1px solid black;
    padding-right: 20mm;
}

.print .container {
    width: 210mm;
}

.print.base .post-it {
    border: 1px solid #000;
}

.print .sf-toolbar {
    display: none !important;
}

.print .post-it {
    /*background-color: #fcdf03;*/
    background-color: #b4cf4a;
    width: 76mm;
    height: 76mm;
    float: left;
    margin-top: 12mm;
    text-align: center;
    page-break-inside: avoid;
    overflow: hidden;
    margin-left: 10mm;
    margin-right : 10mm;
}

.print .post-it.userstory {
    width: 127mm;
    background-color: #ffcc00;
    position: relative;
}

.print .post-it.poc {
    background-color: #9ee425;
    position: relative;
}

.print .post-it.subtask {
    background-color: #ff2282;
    position: relative;
}

.print .post-it .header {
    line-height: 12mm;
    margin: 0 auto;
    width: 90%;
    position: relative;
    border-bottom: 1px solid #000;
}

.print .post-it .header .id {
    position: absolute;
    left: 0;
}

.print .post-it .header .comp {
    position: absolute;
    right: 0;
}

.print .post-it .header .bv {
    position: absolute;
    right: 0;
    padding-right: 10mm;
}

.print .post-it .content {
    position: relative;
    overflow: hidden;
    max-height: 62mm;
}

.print .with-bottom .content {
    max-height: 52mm;
}

.print .post-it .summary {
    margin: 0 auto;
    width: 90%;
    height: 10%;
    overflow: hidden;
    font-size: 22pt;
}

.print .post-it .description {
	margin: 3mm auto;
	width: 90%;
    height: 40mm;
    font-size: 16pt;
    font-family: monospace;
	overflow: hidden;
}

.print .post-it .left {
    float: left;
    position: absolute;
}
.print .poc .left {
    font-weight: bold;
    font-size: 25pt;
    border-right: 1px solid black;
    margin-left: 3mm;
    padding-right: 2mm;
    height: 60mm;
}

.print .post-it .right {
    position: relative;
    float: right;
    width: 85%;
}

.print .post-it .bottom .right {
    right: 3mm;
    width: auto;
    bottom: 0;
    position: absolute;
}

.print .post-it .bottom {
    bottom: 2mm;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    float: bottom;
    border-top: 1px solid black;
}