@page {
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 18pt;
}

.container {
	width: 210mm;
}

.item6 {
	page-break-after: always;
}

.base .post-it {
	border: 1px solid #000;
}

.item1, .item3, .item5 {
	margin-left: 12mm;
}

.item2, .item4, .item6 {
	margin-left: 20mm;
}

.sf-toolbar {
	display: none !important;
}

.post-it {
	/*background-color: #fcdf03;*/
	background-color: #b4cf4a;
	width: 76mm;
	height: 76mm;
	float: left;
	margin-top: 12mm;
	text-align: center;
	page-break-inside: avoid;
	overflow: hidden;
}

.post-it.us {
	width: 127mm;
	background-color: #ffcc00;
	margin-left: 12mm;
}

.post-it.poc {
	background-color: #9ee425;
}

.post-it.subtask {
	background-color: #ff2282;
}

.post-it .header {
	line-height: 12mm;
	margin: 0 auto;
	width: 90%;
	position: relative;
	border-bottom: 1px solid #000;
}

.post-it .header .id {
	position: absolute;
	left: 0;
}

.post-it .header .comp {
	position: absolute;
	right: 0;
}

.post-it .header .bv {
	position: absolute;
	right: 0;
	padding-right: 10mm;
}

.post-it .summary {
	margin: 0 auto;
	width: 90%;
	font-size: 22pt;
}

.post-it .description {
	margin: 5mm auto;
	width: 90%;
	font-size: 16pt;
}