.selectable .ui-selecting {
	background: #f9f9f9;
}

.selectable .ui-selected {
	background: #ADADAD;
}

.panel .btn-group {
	width: 100%;
}

.panel .btn-group button {
	width: 50%;
	border: 0;
}

.list-group-item:before {
	/*background-color: #ccff33;*/
	/*background-color: #fcdf03;*/
	background-color: #b4cf4a;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 6px;
}

.list-group-item.subtask:before {
	background-color: #ff2282;
}

.list-group-item input {
	display: none;
}

.list-group-item .badge {
	position: absolute;
	right: 1em;
}

#issues_search select {
	margin-bottom: 20px;
}

.container {
	max-width: 100%;
}

.header {
	margin: 15px 0;
}

.Absolute-Center {
	margin: 150px auto;

	/*  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;*/
}

.Absolute-Center.is-Responsive {
	margin: 150px auto;

	/*  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;*/
}

.Absolute-Center.is-Responsive {
	background-color: #FEF977;
	width: 50%;
	height: 50%;
	min-width: 200px;
	max-width: 400px;
	padding: 40px;
	border-radius: 10px;
}

#formJira {
	margin: auto;
}

hr.soften {
	height: 3px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
	border: 0;
}

.titre {
	text-align: center;
	font-family: 'Avantgarde, sans-serif';
	font-size: 20px;
}

.error {
	font-weight: bold;
	color: red;
}

.log {
	float: right;
}

.logImg {
	height: 24px;
	width: 24px;
}

.form-control {
	margin-bottom: 20px;
}

.form {
    margin: 50px auto;
}

.bottom {
    margin-top: 100px;
}

.config-btn {
    float: right;
    margin-right: 1%;
    font-size: 3em;
    color: #696969;
    line-height: 1;
}

.btn-rotation {
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.clockwise {
    animation-name: clockwise;
}

.counter-clockwise {
    animation-name: counter-clockwise;
}

@keyframes clockwise {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

@keyframes counter-clockwise {
	from { transform: scale( 1 ) rotate( 360deg );   }
	to   { transform: scale( 1 ) rotate( 0deg ); }
}

.icon-large {
    height: 360px;
    width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-medium {
    height: 270px;
    width: 480px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sctn {
    padding-top: 30px;
    padding-bottom: 30px;
}

.flexible {
    display: flex;
}

.sctn:nth-child(even) {
    background-color: #e2f3ff;
}

.txt-home {
    margin: auto;
    text-align: center;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.title-home {
    font-weight: bold;
    font-size: 28px;
}

.btn-home {
    margin-top: 15px;
}

.required:after {
    content: " *";
}