@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
  display: flex;
}

.full-height {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.loading-screen {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.task-container {
  margin-bottom: 0.5em;
  width: 100%;
}