@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
  display: flex;
}

.fullHeight {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}