{% extends "ScrumBoardItBundle:Security:login.html.twig" %}

{% block header %}
    <div class="log">
        <a href="./logout">
            <span class="glyphicon glyphicon-off">Déconnexion</span>
        </a>
    </div>
{% endblock %}

{% block header_title %}
    Choisissez votre bugtracker
{% endblock %}

{% block userForm %}
    {{ form_row(form.api) }}
    <strong>Entrez vos identifiants correspondants:</strong>
    {{ parent() }}
    <div class="alert alert-info text-center">
    	<div>
    	    {% if app.user.jiraUrl is defined %}
        		Url Jira: {{ app.user.jiraUrl }} <br/>
		    {% else %}
				Connexion à Jira impossible : aucune URL n'est définie
		    {% endif %}
		</div>
		<a href="{{ path('edit_profile') }}" class='btn btn-default btn-sm'>Editer l'url</a>
    </div>
{% endblock %}

{% block rememberMe %}{% endblock %}
{% block bottom %}{% endblock %}