{% extends 'ScrumBoardItBundle::Print/Task/template_default.html.twig' %}

{% block content %}
    <div class="left">
        <p>P</p>
        <p>O</p>
        <p>C</p>
    </div>
    <div class="right">
        {{parent()}}
    </div>
{% endblock %}