{% extends 'ScrumBoardItBundle::Print/Task/template_default.html.twig' %}

{% block content %}
    <div class="with-bottom">
        {{parent()}}
    </div>
    <div class="bottom">
        POC
    </div>
{% endblock %}