{% extends 'ScrumBoardItBundle::Print/Task/template_default.html.twig' %}

{% block content %}
    <div class="left">
        P
        <p>O</p>
        C
    </div>
    <div class="right">
        {{parent()}}
    </div>
{% endblock %}